.custom-card {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  min-width: 250px;
  background-color: white;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.row-layout {
  flex-direction: row;
}

.column-layout {
  flex-direction: column;
}

.card-icon {
  background-color: #e0f7fa;
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1.6rem;
  color: #00796b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  flex: 1;
}

.card-title {
  font-size: 0.85rem;
  color: #666;
  font-weight: 600;
  width: 100%;      /* <-- REQUIRED for alignment to work */
}


/* Positioning */
.card-title.left {
  text-align: left;
}

.card-title.center {
  text-align: center;
 
}

.card-title.right {
  text-align: right;
 
}

.card-main-value {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 0.2rem;
}

.card-sub-info {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.6rem;
  font-size: 0.8rem;
  color: #3a3a3a;
}

.sub-value {
  background-color: #e0f2f1;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  color: #00796b;
  font-weight: 500;
}

.target-value {
  background-color: #f0f4c3;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  color: #827717;
  font-weight: 500;
}

.card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #999;
}

/* .footer-left {
 
}

.footer-right {
} */
