@import "tailwindcss";

body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  line-height: var(--line-height-normal);
  background: var(--background);
}

.testing {
  font-family: var(--font-family) !important;
}

/* ONLY affect contract value input */
.contract-input.p-inputnumber {
  position: relative;
}

/* Prevent arrows from leaking to other fields */
.contract-input .p-inputnumber-button {
  position: absolute;
  right: 0;
}

/* Ensure other inputs NEVER show arrows */
.p-inputtext,
.p-dropdown,
.p-inputtextarea {
  background-image: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.p-button:focus,
.p-button.p-focus,
.p-button:active {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
}